<html>
    <head>
        <title> Tasks Application</title>
    </head>
    <body>
        <!--- Menu --->
        <a href="/"> Home </a> 
        <a href="/tasks"> Tasks </a> 

        <h1> Task Application </h1>
    </body>
</html>     