 <html>
    <head>
        <title> Tasks Application</title>
    </head>
    <body>
        <!--- Menu --->
        <a href="/"> Home </a> 
        <a href="/tasks"> Tasks </a> 

        <h1> Get Task By Id </h1>
        <ul>
            <li>Identifier : {{task.id}}</li>
            <li>Text : {{task.text}}</li>
        </ul>
    </body>
</html>      